.header {
    height: --header--height;
    background-image: linear-gradient(0, #FE6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar--height);
}
.header__navbar--list{
    display: flex;
    padding-left: 0;
    margin: 8px 0 0 0;
}
.header__navbar--item {
    margin: 0 8px;
    position: relative;
    min-height: 16px;
    line-height: 40px;
}
.header__navbar--user {
    display: flex;
    position: relative;
}
.header__navbar--user:hover .header__navbar--user--menu{
    display: block;
    cursor: pointer;
}
.header__navbar--user--item {
    line-height: 20px;
}
.header__navbar--user--avt {
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__navbar--user--name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;

}
.header__navbar--user--menu {
    position: absolute;
    top: calc(100% + 4px) ;
    right: 0;
    background-color: var(--white--color);
    border-radius: 2px;
    width: 160px;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar--user--menu::before {
    position: absolute;
    content: "";
    display: block;
    border-width: 20px 25px ;
    border-style: solid;
    border-color: transparent transparent var(--white--color) transparent;
    right: 4px;
    top: -30px;
    cursor: default;
}

.header__navbar--user--item {
}
.header__navbar--user--item a {
    color: var(--black--color);
    font-size: 1.4rem;
    padding: 6px 12px;
    display: block;
}
.header__navbar--user--item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__navbar--user--item a:hover {
    background-color: #F8F8F8;
}

.header__navbar--item--has--qr:hover .header__qr{
    display: block;
}
.header__navbar--item--has--notify:hover .header__notify {
    display: block;
}

.header__navbar--item, 
.header__navbar--item--link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white--color);
    font-weight: 300;
}
.header__navbar--item:hover, 
.header__navbar--item--link:hover,
.header__navbar--icon--link:hover {
    color: rgba(225, 225, 225, 0.7);
    cursor: pointer;
}

.header__navbar--item, 
.header__navbar--item--link,
.header__navbar--icon--link {
    display: inline-flex;
    align-items: center;
}
.header__navbar--icon--link:nth-child(2){
    margin-left: 4px;
}

.header__navbar--item--strong{
    font-weight: 400;
}

.header__navbar--item--separate{
}

.header__navbar--item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 12px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.header__navbar--icon--link {
    color: var(--white--color);
     
}

.header__navbar--icon {
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar--icon--instagram {
    font-size: 2rem;
}

.header__navbar--title--nopointer {
    cursor: text;
    color: var(--white--color);
}

/* Qr Code */

.header__qr {
    display: none;
    background-color: var(--white--color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120% ;
    border-radius: 2px ;
    margin: 0px ;
    padding: 8px;
    animation: fadeIn ease .3s;
}
.header__qr::before {
    position: absolute;
    width: 100%;
    content: "";
    height: 20px;
    left: 0;
    top: -10px;
}

.header__qr--img {
    width: 100%;

} 

.header__qr--apps {
    display: flex;
    justify-content: space-between;
}
.header__qr--link:first-child{
    margin-left: 11px;
}
.header__qr--link:last-child{
    margin-right: 11px;
}
.header__qr--download--img {
    height: 15px;

}

/* Header notify */
.header__notify{
    display: none;
    position: absolute;
    top: 140%;
    width: 404px;
    right: 0;
    background-color: var(--white--color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
    z-index: 99999;
    border-radius: 2px;
}
.header__notify::before {
    position: absolute;
    content: "";
    display: block;
    border-width: 20px 30px ;
    border-style: solid;
    border-color: transparent transparent var(--white--color) transparent;
    right: 4px;
    top: -30px;
    cursor: default;
}
.header__notify::after {
    position: absolute;
    content: "";
    display: block;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
 
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify--header {
    height: 40px;
    background-color: var(--white--color);
    cursor: default;
    user-select: none;
}
.header__notify--header h3 {
    color: black;
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    margin: 0 12px;
}
.header__notify--list {
    padding: 0;
}

.header__notify--item {
    
}

.header__notify--item:hover {
    background-color: rgba(117, 111, 110, 0.1);
}

.header__notify--item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify--link {
    display: flex;
    padding: 12px;
     
}


.header__notify--img {
    width: 48px;
    object-fit: contain;
}

.header__notify--info {
    margin-left: 12px;
}

.header__notify--name {
    display: block;
    color: var(--black--color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify--description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify--footer {
    text-align: center;
}

.header__notify--footer--btn {
     
    color: var(--black--color);
    padding: 8px 48px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 auto;
}


/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white--color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text--color);
}
.auth-form__switch--btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary--color);
    cursor: pointer;
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border--color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #756F6E;
}
.auth-form__aside {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
     
    color: var(--primary--color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}


.auth-form__controls--back {
    margin: 0 8px;
}
.auth-form__controls--register:hover {
    opacity: 0.8;
}
.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    
}
.auth-form__socials--icon  {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: rgb(58, 90, 152);
    color: var(--white--color);
}

.auth-form__socials--facebook:hover {
    opacity: 0.9;
}

.auth-form__socials--google{
    color: #666;
}
.auth-form__socials--google:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

.auth-form__socials--title {
    margin: 0 28px;
    font-size: 1.4rem;
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.auth-form__help--link {
     
    font-size: 1.4rem;
    color: #939393;

}
.auth-form__help--separate {
    display: block;
    height: 22px;
    border-left: 1px solid #EAEAEA;
    margin: 0 16px;
    
}
.auth-form__help--forgot {
    color: var(--primary--color);
}

/* Header with search */

/* Header logo */
.header--with--search {
    height:  var(--navbar--with--search--height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}
.header__logo-link {
    color: transparent;
    text-decoration: none;
}
.header__logo--img {
    width: 150px;
    color: var(--white--color);
}

/* Header search */

.header__search {
    background-color: var(--white--color);
    height: 40px;
    flex: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.header__search--input--wrap {
    flex: 1;
    height: 100%;
}
.header__search--input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    color: var(--text--color);
    border-radius: 3px;
    flex: 1;
}

.header__search--selection {
    border-left:  1px solid #ccc;
    padding-left: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 20px;
    position: relative;
}
.header__search--selection:hover .header__search--option {
    display: block;
}
.header__search--selection--label {
    font-size: 1.4rem;
    color: var(--text--color);
}
.header__search--selection--icon {
    font-size: 1rem;
    color: #4A4A4A;
    padding: 0 16px;
}
.header__search--btn {
    background-color: var(--primary--color);
    border: none;
    height: 34px;
    margin-right: 3px;
    border-radius: 3px;
    width: 60px;
    outline: none;
}
.header__search--btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.header__search--btn--icon {
    color: var(--white--color);
    font-size: 1.4rem;
}
.header__search--option{
    position: absolute;
    top: 160%;
    background-color: var(--white--color);
    right: 0;
    border-radius: 3px;
    width: 136px;
    padding: 0;
    line-height: 40px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__search--option::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -10px;
}
.header__search--option--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;
}
.header__search--option--item:hover {
    background-color: #fafafa;
    border-radius: 3px;
}
.header__search--option--item span {
    font-size: 1.4rem;
    color: var(--text--color);
}

.header__search--option--item i {
    font-size: 1.6rem;
    color: var(--primary--color);
    margin: 0 14px 0 14px;
    display: none;
}

.header__search--option--item--active i {
    display:inline-block ;
}

/* Search history */
.header__search--input--wrap {
    position: relative;
}
.header__search--history {
    position: absolute;
    top: 105%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white--color);
    border-radius: 3px;
    box-shadow: 0 0 1px #666;
    display: none;
    
}
.header__search--history--item  a {
    padding-left: 12px;
    line-height: 36px;
    color: var(--black--color);
    font-size: 1.4rem;
}

.header__search--history--item:hover {
    background-color:  #fafafa;
    cursor: pointer;
}
.header__search--input:focus ~ .header__search--history {
    display: block;
}

/* Header cart */
.header__cart {
    width: 100px;
    text-align: center;

}
.header__cart--icon {
    color: var(--white--color);
    font-size: 2.6rem;

}

.header__cart--list {
    position: absolute;
    top: calc(100% + 8px) ;
    right: -19px;
    background-color: var(--white--color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    cursor: default;
}
.header__cart--list::before {
    display: block;
    content: "";
    position: absolute;
    border-width: 20px;
    border-color: transparent transparent var(--white--color) transparent;
    top: -30px;
    right: 20px;
    border-style: solid;
    cursor: pointer;
}
.header__cart--list--no--cart {
    padding: 24px 0;
    top: calc(100% + 8px);
}
.header__cart--list--no--cart--img {
    width: 60%;
    display: none;
}
.header__cart--list--no--cart--message {
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text--color);
    display: none;
}
.header__cart--list--no--cart .header__cart--list--no--cart--img, 
.header__cart--list--no--cart .header__cart--list--no--cart--message {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart--wrap {
    display: inline-block;
    padding: 0 8px;
    position: relative;
    cursor: pointer;
}
.header__cart--wrap:hover .header__cart--list {
    display: block;
    
}

.header__cart--notice {
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary--color);
    background-color: var(--white--color);
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    top: -12px;
    right: -6px;
}

/* Header cart list */
.header__cart--list--item {
}

.header__cart--heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: var(--text--color);
    margin: 12px;
    font-weight: 400;
}
.header__cart--item {
    display: flex;
    padding: 0 12px;
    margin: 10px 0;
}
.header__cart--item:hover {
    background-color: #F8F8F8;
}
.header__cart--item--img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border: 1px solid #E8E8E8;
}

.header__cart--item--ifo {
    width: 100%;
    margin-left: 8px;
}
.header__cart--item--head {
    display: flex;
    justify-content: space-between;
}
.header__cart--item--name {
    font-size: 1.4rem;
    font-weight: 400;

}
.header__cart--item--price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary--color);

}
.header__cart--item--multiply {
    color: var(--text--color);
    font-size: 1rem;
    margin: 0 4px;
}
.header__cart--item--quantity {
    color: #757575;
    font-size: 1.2rem;
}
.header__cart--item--body {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}
.header__cart--item--description {
    color: var(--text--color);
    font-size: 1.2rem;
}
.header__cart--item--delete {
    font-size: 1.2rem;
}
.header__cart--item--delete:hover {
    color: var(--primary--color);
    cursor: pointer;
}
.header__cart--view--cart {
    margin: 12px;
    float: right;
    min-width: 124px;
}
.header__cart--view--cart:hover {
    opacity: 0.9;
}

/* App container */

.app__container {
    background-color: #f5f5f5;
}
.category {
    background-color: var(--white--color);
    border-radius: 2px;

}
.category__heading{
    font-size: 1.7rem;
    color: var(--text--color);
    padding: 8px 6px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.category__heading--icon{
    font-size: 1.4rem;
    margin-right: 4px;
}
.category--list {
    padding-left: 10px;
}
.category--item {
    margin-top: 10px;
}
.category--item__link {
    position: relative;
    color: var(--text--color);
    font-size: 1.6rem;
    padding: 4px 16px;
    display: inline-block;
    transition: right linear 0.1s;
    right: 0;
}
.category--item__link:hover {
    color: var(--primary--color);
    right: -4px;
}
.category--item--active .category--item__link {
    color: var(--primary--color);
}
.category--item--active .category--item__link::before {
    content: "";
    display: block;
    position: absolute;  
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary--color);
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

/* Home soft + filter  */
.home--filter {
    background-color: rgba(122, 116, 116, 0.2);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    font-size: 1.5rem; 
}
.home--filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home--filter__label {
    color: var(--text--color);
    margin: 0 4px;
}
.home--filter__btn {
    margin: 0 12px;
    min-width: 90px;
    color: var(--black--color);
}
.select--input {
    height: 34px; 
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white--color);
    display: flex;
    justify-content: space-between;
    min-width: 180px;
    align-items: center;
    position: relative;
}
.select--input:hover .select--input__list {
    display: block;

}
.select--input__icon {
    font-size: 1rem;
    color: #4A4A4A;   
}
.select--input__list {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white--color);
    width: 100%;
    border-radius: 2px;
    display: none;
    padding: 8px 12px;
}
.select--input::before {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100%);
}
.select--input__link {
    padding: 4px 0;
}
.select--input__link:hover {
    color: var(--primary--color);
    cursor: pointer;
}

.home--filter__page--current {
    color: var(--primary--color);
}

.home--filter__page--btn {
    color: var(--black--color);
    padding: 8px 12px;
    background-color: var(--white--color);
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    
}
.home--filter__page--num {
    margin-right: 12px;
}
.home--filter__page--btn--disable {
    background-color: #f9f9f9;
    color: #ccc;
    cursor: default;
}

/* Home product */
.home--product--item__img {
    width: 100%;
    height: 200px;
    background-size: auto;
    background-repeat: no-repeat;
}